@font-face {
    font-family: 'OldLondom';
    src: url('font/OldLondon.ttf') format('truetype'); /* Substitua o caminho pelo caminho correto para o arquivo de fonte */
}
*{
    margin: 0;
    padding: 0;
    font-family: OldLondom, sans-serif;
}
.invisible{
    visibility: hidden;
}
.visible{
    visibility: visible;
}
body{
    background-color:  rgb(18, 18, 18);
}
#menu{
    background-color: rgba(32, 31, 31, 0.8);
    width: 350px;
    height: 250px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    border: 1px solid rgb(128, 0, 32);
}
#title{
    color: rgb(128, 0, 32);
    margin-top: 30px;
}
#username{
    background-color: rgb(52, 50, 50);
    border-radius: 10px;
    border: none;
    width: 150px;
    height: 30px;
    margin-top: 30px;
    color: white;
    padding: 5px;
}
#label{
    margin-top: 30px;
    color: white;
}
#nivel {
    background-color: rgb(52, 50, 50);
    border-radius: 10px;
    border: none;
    width: 200px;
    height: 30px;
    margin-top: 20px;
    color: white;
    padding: 5px;
}
#start_button{
    background-color: rgb(128, 0, 32);
    width: 250px;
    height: 30px;
    color: white;
    border-radius: 10px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}
#start_button:hover{
    background-color: rgb(109, 3, 30);
}