@font-face {
    font-family: 'OldLondom';
    src: url('font/OldLondon.ttf') format('truetype'); /* Substitua o caminho pelo caminho correto para o arquivo de fonte */
}
*{
    margin: 0;
    padding: 0;
    font-family: OldLondom, sans-serif;
}
.invisible{
    visibility: hidden;
}
.visible{
    visibility: visible;
}
body{
    background-image: url("images/background6.jpg");
}
#menu{
    background-color: rgba(82, 50, 29, 0.8);
    width: 350px;
    height: 250px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    border: 5px solid rgb(82, 50, 29);
}
#title{
    color: rgb(207, 110, 6);
    margin-top: 30px;
}
#label{
    margin-top: 30px;
    color: white;
}
#start_button{
    background-color: rgb(207, 110, 6);
    width: 250px;
    height: 30px;
    color: white;
    border-radius: 10px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}
#start_button:hover{
    background-color: rgb(172, 93, 7);
}
.field{
    background-color: rgb(124, 79, 49);
    border-radius: 10px;
    border: none;
    width: 200px;
    height: 30px;
    margin-top: 20px;
    color: white;
    padding: 5px;
}